<ion-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button button-icon icon ion-arrow-left-c" ng-click="back()"></button>
    </div>
    <h1 class="title">Grocery App App</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="item.title">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Store" ng-model="item.storename">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="0.00" ng-model="item.price">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="0.00" ng-model="item.amount">
      </label>
      </div>
      <button class="button button-block button-balanced" ng-click="saveItem()">Save</button>
    </ion-content>
  </ion-view>
