<ion-view>
  <ion-side-menus>
    <!-- Left menu -->
    <ion-side-menu side="left">
      <ion-list>
        <ion-item menu-close ng-click="addNewNote()">
          Dodaj notatkę
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          Wyloguj
        </ion-item>
        <ion-item menu-close ng-click="deleteAccount()">
          Usuń konto
        </ion-item>
      </ion-list>
    </ion-side-menu>

    <ion-side-menu-content>
      <ion-header-bar class="bar-positive">
      <div class="buttons">
        <button class="button button-icon icon ion-navicon-round"
          ng-click="toggleSideMenu()"></button>
      </div>
      <h1 class="title">Notepad App</h1>
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete;"></button>
      </div>
    </ion-header-bar>
      <ion-content>
        <ion-list show-delete="data.showDelete">
        <ion-item ng-repeat="note in notes" item="note" href="#/note/{{note.id}}" class="item-remove-animate">
          <h2>{{note.title}}</h2>
          <p>{{note.content}}</h2>
          <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(note)"/>
        </ion-item>
      </ion-list>
      </ion-content>
    </ion-side-menu-content>
  </ion-side-menus>
</ion-view>
